<header class="header" id="header">
    <div class="header-container">
        <div class="header-logo">
            <a href="/"></a>
        </div>
        <nav class="header-nav">
            <ul>
                <li><a href="#">서비스</a>
                    <div class="depth">
                        <div class="depth-item">
                            <a href="#">경영전략솔루션</a>
                            <a href="#">영업/마케팅</a>
                            <a href="#">서비스(CX)</a>
                            <a href="#">인사조직</a>
                            <a href="#">리서치</a>
                            <a href="#">시스템(SaaS)</a>
                        </div>
                    </div>
                </li>
                <li><a href="#">인사이트</a>
                    <div class="depth">
                        <div class="depth-item">
                            <a href="#">레터</a>
                        </div>
                    </div>
                </li>
                <li><a href="#">포트폴리오</a>
                    <div class="depth">
                        <div class="depth-item">
                            <a href="#">수행사례</a>
                        </div>
                    </div>
                </li>
                <li><a href="#">회사소개</a>
                    <div class="depth">
                        <div class="depth-item end">
                            <a href="#">VMC</a>
                            <a href="#">Network</a>

                        </div>
                    </div>
                </li>
            </ul>
        </nav>

        <div class="hamburger" id="hamburger">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        
    </div>
    <div class="header-bg"></div>
</header>
<script>
    const hamburger = document.getElementById('hamburger');
    hamburger.addEventListener('click', () => {
    hamburger.classList.toggle('active');
    });
</script>